# Cache de l'utilisation du code
/__pycache__/
*/__pycache__/

# Librairies
/venv/
/.venv/

# PyCharm IDE
/.idea/

# Personnal documents
/test_documents/

# Password and personnal informations
/.env

#-------------------
# Tests
/tests/

Reminder.md