# Cache de l'utilisation du code
/__pycache__/

# Librairies
/venv/

# PyCharm IDE
/.idea/

# Personnal documents
/test_documents/

# Password and personnal informations
/.env

#-------------------
/PathAndFilename.py